body,
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.image-box {
  border: 5px outset red;
  width: 50vw;
  height: 50vh;
}

.image-box > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
